<!-- accounts - работа с аккуантами-->

<h1>Аккуанты</h1>
    <section class="container" ng-controller="accCtrl">

        <!-- addAccount-->
        <ng-include src="'views/account/accounts/addAccount.html'"></ng-include>
        <!-- addAccount-->

        <!-- accountList-->
        <ng-include src="'views/account/accounts/listAccount.html'"></ng-include>
        <!-- accountList-->
    </section>
