<header class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/account/me">Instaboost</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/account/cabinet">Кабинет</a></li>
                    <li><a href="#/account/task">Создать задание</a></li>
                    <li><a href="#/account/accounts">Аккуанты</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>