<header class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/me">Instaboost</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/me">Главная</a></li>
                    <li><a href="#/auth">Авторизация</a></li>
                    <li><a href="#/reg">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>