<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Instaboost</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="public.css"/>
</head>
<body ng-cloak>
    <!-- HEADER-->

    <section ng-controller="appCtrl">
    <ng-include ng-if="location==='landing'" src="'/views/navbarStart.html'"></ng-include>
    <ng-include ng-if="location==='account'" src="'/views/navbarAccount.html'"></ng-include>
    </section>
    <!-- HEADER-->

    <!-- MAIN CONTENT-->
    <section class="container" >
        <ng-view></ng-view>
    </section>
    <!-- MAIN CONTENT-->
    <!-- SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/appCtrl.js"></script>
    <script src="js/controllers/accCtrl.js"></script>
    <script src="js/factories/loginFactory.js"></script>
    <script src="js/controllers/authCtrl.js"></script>
    <script src="js/routes/routes.js"></script>
</body>
</html>